@font-face {
  font-family: 'Lexend Deca';
  src: url(/fonts/lexend-deca/LexendDeca.ttf);
}

// Override Bootstrap Fonts
$headings-font-family: 'Lexend Deca', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$display-font-weight: 500;

$btn-font-family: 'Lexend Deca', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$font-family-sans-serif: 'Lexend Deca', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

// Override Bootstrap Spacing
$spacer: 2rem;

// Override Bootstrap Colours

@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#gui {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

section {
  position: relative;
}

#offcanvasNavbar {
  width: 40vw;
}

.skills-list {
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      --colour: #f46a39;
      --filter-svg: invert(100%) sepia(0%) saturate(7500%) hue-rotate(123deg) brightness(103%) contrast(104%);
      border: none;
      background: none;

      &:hover {
        i, img {
          transform: scale(1.1);
        }
      }

      &[aria-selected="true"] {
        i {
          color: var(--colour);
        }

        img {
          filter: var(--filter-svg) !important;
        }
      }

      i, img {
        transition: all 0.3s ease-in-out;
      }

      img {
        height: clamp(2.8125em, calc(2.8125rem + ((1vw - 0.2625em) * 2.3333)), 5em);
        width: auto;
        min-height: 0;
      }

      &.html5 {
        --colour: #f46a39;
      }

      &.css3 {
        --colour: #149fdb;
      }

      &.js {
        --colour: #fddc22;
      }

      &.bootstrap {
        --colour: #6f2cf4;
      }

      &.p5js {
        --colour: #eb345e;
      }

      &.unity {
        --colour: #1a496a;
      }

      &.threejs {
        --filter-svg: invert(37%) sepia(100%) saturate(683%) hue-rotate(166deg) brightness(109%) contrast(107%);

        img {
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(123deg) brightness(103%) contrast(104%);
        }
      }

      &.maya {
        --filter-svg: brightness(0) saturate(100%) invert(61%) sepia(96%) saturate(863%) hue-rotate(162deg) brightness(86%) contrast(82%);
        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(302deg) brightness(101%) contrast(101%);
        }
      }
    }
  }
}

@media only screen and (max-width: (calc(992 / 16) * 1em)) {
  #offcanvasNavbar {
    width: 100vw;
  }
}
